<footer>
    <p> This project made using Node, Nodemon, Express, EJS and MongoDB.</p>
    <p>by Leonardo Nobre Ghiggino, following the guidance from Net Ninja</p>
    <p>Copyright &copy; 2020</p>
</footer>