<!DOCTYPE html>
<html>
<!-- calling partial HEAD -->
<%- include("./partials/head.ejs") %>
<body>
    <!-- NAV.EJS -->
    <%- include("./partials/nav.ejs") %>

    <section class="blogs content">
        <h2>About Me</h2>
        <p>Im about to turn 40 and Im learning webDev, and Im about to make it happen</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum minus sunt non dolores error hic!</p>
    </section>

    <!-- calling the FOOTER.EJS partial -->
    <%- include("./partials/footer.ejs") %>
    
</body>
</html>