<!DOCTYPE html>
<html>
<!-- calling partial HEAD -->
<%- include("./partials/head.ejs") %>
<body>
    <!-- NAV.EJS -->
    <%- include("./partials/nav.ejs") %>

    <section class="create-blog content">
        <form action="/blogs" method="POST">
            <label for="title">Blog post title:</label>
            <input type="text" id="title" name="title" required>
            <label for="snippet">Blog post snippet:</label>
            <input type="text" id="snippet" name="snippet" required>
            <label for="body">Blog post body:</label>
            <textarea id="body" name ="body" required></textarea>
            <label for="image"> External Image Link</label>
            <input type="text" id="image" name="image">
            <button>Submit</button>
        </form>
    </section>
    
    <!-- calling the FOOTER.EJS partial -->
    <%- include("./partials/footer.ejs") %>
</body>
</html>