<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>NN - EJS + Express | <%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <!-- NAV.EJS -->
    <%- include("./partials/nav.ejs") %>

    <section class="create-blog content">
        <form action="">
            <label for="title">Blog post title:</label>
            <input type="text" id="title" required>
            <label for="snippet">Blog post snippet:</label>
            <input type="text" id="snippet" required>
            <label for="body">Blog post body:</label>
            <textarea id="body" required></textarea>
            <button>Submit</button>
        </form>
    </section>
</body>
</html>