<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>NN - EJS + Express | <%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Ninja</h1></a>
            <p>A Net Ninja Site with LNG</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <section class="blogs content">
        <h2>All Blogs</h2>
        <article>
            <h4 class="title">blog post title</h4>
            <h5><%=time%></h5>
            <p class="blog-post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In rem at vitae quae ad, quo, facilis delectus tempore illum eius, praesentium recusandae blanditiis dolorem necessitatibus dolores! Omnis laboriosam ipsam animi est officia rem. Minima voluptate autem magni mollitia eveniet fuga nostrum, aut, assumenda necessitatibus molestias voluptates fugiat odio in porro.</p>
        </article>

        <article>
            <h4 class="title">blog post title</h4>
            <p class="blog-post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In rem at vitae quae ad, quo, facilis delectus tempore illum eius, praesentium recusandae blanditiis dolorem necessitatibus dolores! Omnis laboriosam ipsam animi est officia rem. Minima voluptate autem magni mollitia eveniet fuga nostrum, aut, assumenda necessitatibus molestias voluptates fugiat odio in porro.</p>
        </article>
    </section>
</body>
</html>