<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Node.js Crash Course</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='./views/main.css'>  -->
</head>
<body>
    <section>
        <h1> This is the response from the server</h1>
        <span> cool? </span>
        <h3> Index page </h3>
        <a href="about">about us page</a>
        
    </section>
    
</body>
</html>
