<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>This is a new ABOUT EJS file</h1></a>
            <p>A node express review site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias sapiente veniam libero, similique alias error obcaecati aliquid. Fugit error quia excepturi commodi aut officiis provident quaerat quod autem doloremque. Dolor, fugiat! Et nemo quia incidunt, modi quas repellendus tenetur maiores, harum, expedita exercitationem unde reprehenderit fugit debitis pariatur ipsa dolorem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem consequatur dolorum a mollitia incidunt repellendus cumque laborum eum sint quasi, quaerat animi sapiente quod? Adipisci dolorem ipsam iure ab similique.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, quas similique. Error optio quisquam, atque fugit vel odio officia! Error aperiam, odio quibusdam corporis minus, tempore, fugiat in cumque impedit labore possimus sunt aliquid accusamus.</p>
    </div>
</body>
</html>