<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>This is a new index EJS file</h1></a>
            <p>A node express review site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    
    <div class="blogs content">
        <h2>All Blogs</h2>
        
    </div>
</body>
</html>